@{
    ViewBag.Title = "BoardGame";
}

<style>
    .shape {
    border-radius: 50px;
    width:58px;
    height:58px;
    border: 1px solid yellow;
    background-color : seagreen;
    cursor: move;
    }
</style>


<div class="row">
    <div class=" col-xs-12 col-sm-12 col-md-9 col-lg-10">
        <div style="width:100%; overflow:auto">
            <div class="board " style="width:720px; height:300px; margin:10px; background-color:lightblue">
                <div id="a1" class="droppable"> </div>
                <div id="a2"  class="droppable"> </div>
                <div id="a3"  class="droppable"> </div>
                <div id="a4"  class="droppable"> </div>
                <div id="a5"  class="droppable"> </div>
                <div id="a6"  class="droppable"> </div>
                <div id="a7"  class="droppable"> </div>
                <div id="a8"  class="droppable"> </div>
                <div id="a9"  class="droppable"> </div>
                <div id="a10"  class="droppable"> </div>
                <div id="a11"  class="droppable"> </div>
                <div id="a12"  class="droppable"> </div>
                <div id="b1"  class="droppable"> </div>
                <div id="b2"  class="droppable"> </div>
                <div id="b3"  class="droppable"> </div>
                <div id="b4"  class="droppable"> </div>
                <div id="b5"  class="droppable"> </div>
                <div id="b6"  class="droppable"> </div>
                <div id="b7"  class="droppable"> </div>
                <div id="b8"  class="droppable"> </div>
                <div id="b9" class="droppable">  </div>
                <div id="b10"  class="droppable"> </div>
                <div id="b11"  class="droppable"> </div>
                <div id="b12"  class="droppable"> </div>
                <div id="c1"  class="droppable"> </div>
                <div id="c2"  class="droppable"> </div>
                <div id="c3"  class="droppable"> </div>
                <div id="c4"  class="droppable"> </div>
                <div id="c5"  class="droppable"> </div>
                <div id="c6"  class="droppable"> </div>
                <div id="c7"  class="droppable"> </div>
                <div id="c8"  class="droppable"> </div>
                <div id="c9"  class="droppable"> </div>
                <div id="c10"  class="droppable"> </div>
                <div id="c11"  class="droppable"> </div>
                <div id="c12"  class="droppable"> </div>
                <div id="d1"  class="droppable"> </div>
                <div id="d2"  class="droppable"> </div>
                <div id="d3"  class="droppable"> </div>
                <div id="d4"  class="droppable"> </div>
                <div id="d5"  class="droppable"> </div>
                <div id="d6"  class="droppable"> </div>
                <div id="d7"  class="droppable"> </div>
                <div id="d8"  class="droppable"> </div>
                <div id="d9"  class="droppable"> </div>
                <div id="d10"  class="droppable"> </div>
                <div id="d11"  class="droppable"> </div>
                <div id="d12"  class="droppable"> </div>
                <div id="e1"  class="droppable"> </div>
                <div id="e2"  class="droppable"> </div>
                <div id="e3"  class="droppable"> </div>
                <div id="e4"  class="droppable"> </div>
                <div id="e5"  class="droppable"> </div>
                <div id="e6"  class="droppable"> </div>
                <div id="e7"  class="droppable"> </div>
                <div id="e8"  class="droppable"> </div>
                <div id="e9"  class="droppable"> </div>
                <div id="e10"  class="droppable"> </div>
                <div id="e11"  class="droppable"> </div>
                <div id="e12"  class="droppable"> </div>
            </div>
        </div>
    </div>
    <div class=" col-xs-12 col-sm-3 col-md-3 col-lg-2">
        <div id="userList" style="height: 290px; border : 1px solid #d5d5d5">
        users
        </div>
    </div>
 


    <div class=" col-xs-12 col-sm-9 col-md-6 col-lg-6">
        <div id="" style="height: 290px; border : 1px solid #d5d5d5">
        something
        </div>
    </div>
    <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div id="" style="height: 290px; border : 1px solid #d5d5d5">
        asfafs
        </div>
    </div>
</div>
